<%= bootstrap_form_for(@book, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class='form-group'>
    <label class='control-label col-sm-3'>Title</label>
    <div class='col-sm-9'>
      <%= f.text_field :title, class: 'form-control', hide_label: true %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-3'>Isbn</label>
    <div class='col-sm-9'>
      <%= f.text_field :isbn, class: 'form-control', hide_label: true %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-3'>Page count</label>
    <div class='col-sm-9'>
      <%= f.text_field :page_count, class: 'form-control', hide_label: true %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-3'>Price</label>
    <div class='col-sm-9'>
      <%= f.text_field :price, class: 'form-control', hide_label: true %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-3'>Description</label>
    <div class='col-sm-9'>
      <%= f.text_area :description, class: 'form-control', hide_label: true %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-3'>Publication date</label>
    <div class='col-sm-9'>
      <%= f.text_field :published_at, placeholder: 'Date format: yyyy-mm-dd', class: 'form-control', hide_label: true %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-3'>Publisher</label>
    <div class='col-sm-9'>
      <%= f.select :publisher_id, Publisher.all.map { |p| [p.name, p.id] },
                      prompt: 'Select a publisher', class: 'form-control', hide_label: true %>
    </div>
  </div>

  <div class='form-group'>
    <label class='control-label col-sm-3'>Book cover</label>
    <div class='col-sm-9'>
      <%= f.file_field :book_cover, class: 'form-control', hide_label: true %>
    </div>
  </div>

  <div class='form-group'>
    <label class='control-label col-sm-3'>Authors</label>
    <div class='col-sm-9'>
      <%= f.collection_check_boxes :author_ids, Author.all, :id, :full_name, class: 'form-control', hide_label: true %>
    </div>
  </div>

  <!-- <%= f.fields_for :publications  do |pub| %>

    <div class='form-group' id='kkk'>
      <label class='control-label col-sm-3'>Author</label>
      <div class='col-sm-9'>
        <%= pub.select :author_id, options_for_select(Author.all.collect { |a| [a.full_name, a.id] }),
                          prompt: 'Select an author', class: 'form-control', hide_label: true  %>
      </div>

    </div>
  <% end %>

  <%#= render partial: 'publications/publication' %>

 -->
  <div class='col-sm-9'>
    <%#= link_to 'Add another author', 'javascript:', id: 'add-author' %>
    <%#= link_to 'Add another author', new_publication_path, remote: true,
                    update: 'kkk', position: 'after', id: 'add-author' %>
  </div>
  <%# end %>
  <div class='form-group actions control-group'>
    <div class='col-sm-offset-3 controls'>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
